/* reset */
button {
  all: unset;
}

.ToggleGroup {
  display: inline-flex;
  background-color: mediumaquamarine;
  border-radius: 4px;
  box-shadow: 0 2px 10px black;
}

.ToggleGroupItem {
  background-color: white;
  color: var(--mauve-11);
  height: 35px;
  width: 35px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  user-select: none;
}
.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ToggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ToggleGroupItem:hover {
  background-color: violet;
}
.ToggleGroupItem[data-state='on'] {
  background-color: violet;
  color: blue;
}
.ToggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}
